{{template "header.gohtml"}}
    <h1>
        Image Manager
    </h1>

    <p>
        Use the navbar for navigation.
    </p>
    <form method="POST" action="images/process">
        <button class="btn btn-primary">Process Images</button>
    </form>
    <form method="POST" action="images/process-icons">
        <button class="btn btn-primary">Process Icons</button>
    </form>
{{template "footer.gohtml"}}